<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Searching availability for:</p>
    <p>Car: <%= carName %></p>
    <p>From: <%= dateStart %></p>
    <p>To: <%= dateEnd %></p>
  </body>
</html>
