<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h2><%= title %></h2>
    <div>
      <a href="/" class="btn btn-primary ml-3">Home</a>
      <a href="/cars/add" class="btn btn-secondary ml-3">Add a new car</a>
      <a href="/cars" class="btn btn-info ml-3">Cars List</a>
    </div>

    <p>Searching availability for:</p>
    <p>Car: <%= carName %></p>
    <p>From: <%= dateStart %></p>
    <p>To: <%= dateEnd %></p>
  </body>
</html>
