<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h2><%= title %></h2>
    <div>
      <a href="/" class="btn btn-primary ml-3">Home</a>
      <a href="/cars/add" class="btn btn-secondary ml-3">Add a new car</a>
      <a href="/cars" class="btn btn-info ml-3">Cars List</a>
    </div>

    <p>Showing all cars:</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">License place</th>
          <th scope="col">Car name</th>
          <th scope="col">Car photo</th>
          <th scope="col">Price</th>
          <th width="250px">Edit or Delete</th>
        </tr>
      </thead>
      <tbody>
        <% if(data.length) {
          for(var i = 0; i < data.length; i++) {%>
          <tr>
            <th scope="row"><%= (i + 1) %></th>
            <td><%= data[i].id %></td>
            <td><%= data[i].license_plate %></td>
            <td><%= data[i].car_name %></td>
            <td>
              <img src=<%=data[i].image_url%> width="200" height="150" />
            </td>
            <td><%= data[i].price %></td>
            <td>
              <a class="btn btn-success edit" href="/cars/edit/<%=data[i].id%>">Edit</a>
              <a class="btn btn-danger delete" href="/cars/delete/<%=data[i].id%>">Delete</a>
            </td>
          </tr>
        <% }
        } else { %>
          <tr>
            <td colspan="3">No cars</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
